*,
*::after,
*::before {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  font-family: 'Nunito';
}

body {
  box-sizing: border-box;
  text-align: center;
}

.app-name {
  font-family: 'Viaoda Libre', cursive;
  border-bottom: 1px solid grey;
  text-align: center;
  font-size: 4rem;
  padding: 1.5rem 0;
  margin-bottom: 2rem;
  background-color: #eee;
  box-shadow: 0 1rem 1.5rem rgba(0,0,0,.2);
}

.tune-wrapper {
  height: 19.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tune-name {
  width: 100%;
  text-align: center;
  font-size: 4rem;
  padding: 1rem;
  margin-bottom: 1.2rem;
  line-height: 1.2;
  -webkit-hyphens: auto;
  hyphens: auto;
  font-weight: 600;
}

.key {
  font-size: 7rem;
  text-align: center;
  margin-bottom: 4rem;
}

.next-button {
  margin: 0 auto;
  font-size: 5rem;
  border: 2px solid black;
  padding: 1.5rem;
  border-radius: 10px;
  display: block;
  margin-bottom: 4.2rem;
  cursor: pointer;
  color: black;
  background-color: #eee;
}

.small-buttons-wrapper {
  display: flex;
  margin: 0 auto;
  justify-content: space-evenly;
  width: 90%;
  margin-bottom: 3rem;
}

.small-btn {
  border: 2px solid #573704;
  padding: 1.2rem;
  font-size: 2rem;
  text-align: center;
  font-weight: 700;
  border-radius: 5px;
  font-family: inherit;
  color: black;
  background-color: #eee;
}

.skip-button {
  font-weight: 800;
  padding: 1rem 1.7rem 1rem 1.7rem;
}

.raise-button,
.lower-button {
  font-size: 3rem;
}

.see-edits-button {
  display: inline-block;
  font-size: 1.8rem;
  border-bottom: 1px solid black;
  margin-bottom: 2rem;
}

/*

Yellow - #f1c40f

orange - #f4a322

emerald - #2ecc71